@page "/about"

<div class="text-center style">
    <h1> About Us </h1>
</div>

<br />
<br />

<div class="text-center style" style="word-wrap:break-word;">
    <h10>
        We are a Portugal based company whose main objective is to provide a easy and free-to-use all tracking system for all your mail and deliveries.
    </h10>
</div>