@page "/order_history"

<div class="text-center style">
    <h1> Order History </h1>
</div>
<MudGrid>
    <MudItem xs="3" sm="3" md="3" Style="padding-bottom: 125px;" />

    <MudItem xs="3" sm="3" md="3" Style="padding-bottom: 125px;" />

    <MudItem xs="3" sm="3" md="3" Style="padding-bottom: 125px;" />
    <MudItem xs="2" sm="2" md="2" Style="padding-bottom: 125px;">

        <MudCard>
            <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5" Width="30%" Height="42 px">Order #1</MudText>
                <MudText Typo="Typo.body2" Width="100%">Order Description: ...... </MudText>
            </MudCardContent>
            <MudCardActions>
                <MudText Typo="Typo.body2" Width="64 px" Height="40 px" Class="ml-2">Order Status: Delivered</MudText>
                <MudButton Variant="Variant.Text" Color="Color.Dark" Width="105 px" Height="40 px" Class="ml-3">Check Order</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="2" sm="2" md="2" Style="padding-bottom: 125px;">
        <MudCard>
            <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">0rder #2</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudText Typo="Typo.body2">Order Status: Pending</MudText>
                <MudButton Variant="Variant.Text" Color="Color.Dark">Check Order</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

    <MudItem xs="2" sm="2" md="2" Style="padding-bottom: 125px;">
        <MudCard>
            <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">0rder #3</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudText Typo="Typo.body2">Order Status: In Transit</MudText>
                <MudButton Variant="Variant.Text" Color="Color.Dark">Check Order</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="3" sm="3" md="3" Style="padding-bottom: 125px;" />

</MudGrid>
<br />
<br />